#
# Uncomment the following variable and set to 0 or 1 to avoid warning.
#
#XEN_OVERRIDE_GRUB_DEFAULT=0

echo "Including Xen overrides from /etc/default/grub.d/xen.cfg"

#
# When running update-grub with the Xen hypervisor installed, there are
# some additional variables that can be used to pass options to the
# hypervisor or the dom0 kernel.

# The following two are used to generate arguments for the hypervisor:
#
#GRUB_CMDLINE_XEN_DEFAULT=""
#GRUB_CMDLINE_XEN=""
#
# Commonly used options are:
#
# dom0_mem=<size>
#   Sets the amount of memory dom0 uses to a fixed size. All other memory
#   will be usable for domUs. For x86, this prevents ballooning actions
#   from happening to take away memory from the dom0 or return it back. For
#   arm, setting this option is required. E.g. dom0_mem=4G
#
# dom0_max_vcpus=<min>-<max>
#   Limits the amount of physical cpus that dom0 is using, so it will not
#   try to be scheduled on all available cpus all the time. Xen will try to
#   provide the maximum value of vcpus, but will also gracefully deal with
#   a situation of hotplugging physical cpus and reduce the number of vcpus
#   instead of oversubscribing the system.  E.g. dom0_max_vcpus=1-4
#
# com[12]=<speed>,<data bits><parity><stopbits>
#   Initialize a serial console for the hypervisor. Note that com1 would be
#   ttyS0 in Linux when running without Xen. E.g. com1=115200,8n1
#
# console=<dev>[,<dev> ...]
#   Specify which console(s) Xen should use. E.g. console=com1,vga
#
# xpti=dom0=<bool>,domu=<bool> (only for x86)
#   Override default selection of whether to isolate 64-bit PV guest page
#   tables. If the dom0 is only used for managing domUs, and no untrusted
#   code is ran inside, xpti for dom0 can be turned off for performance
#   reasons. E.g. xpti=dom0=false,domu=true
#
# Please also refer to the "Xen Hypervisor Command Line Options"
# documentation for the version of Xen you have installed. This
# documentation can be found at https://xenbits.xen.org/
#
# The next two lines are used for creating kernel arguments for the dom0
# kernel. This allows to have different options for the same kernel used
# natively or as dom0 kernel.
#
#GRUB_CMDLINE_LINUX_XEN_REPLACE_DEFAULT="$GRUB_CMDLINE_LINUX_DEFAULT"
#GRUB_CMDLINE_LINUX_XEN_REPLACE="$GRUB_CMDLINE_LINUX"
#
# For example:
#
# earlyprintk=xen
#   Allows to send early printk messages to the Xen hypervisor console
#
# console=hvc0
#   Redirects the Linux console to the hypervisor console. When running
#   under Xen as dom0, this needs to be specified, because the usual ttyS0
#   will not be available. When viewing the serial console, pressing Ctrl-A
#   three times will switch between the Linux dom0 and the Xen Hypervisor.

#
# Make booting into Xen the default if not changed above. Finding the
# current string for it always has been a problem.
#
if [ "$XEN_OVERRIDE_GRUB_DEFAULT" = "" ]; then
	echo "WARNING: GRUB_DEFAULT changed to boot into Xen by default!"
	echo "         Edit /etc/default/grub.d/xen.cfg to avoid this warning."
	XEN_OVERRIDE_GRUB_DEFAULT=1
fi
if [ "$XEN_OVERRIDE_GRUB_DEFAULT" = "1" ]; then
	GRUB_DEFAULT=$( \
		printf "$(gettext "%s, with Xen hypervisor")" \
		"$GRUB_DISTRIBUTOR GNU/Linux")
fi
