[submodule "gui"]
	path = gui-agent-xen-hvm-stubdom
	url = https://github.com/QubesOS/qubes-gui-agent-xen-hvm-stubdom
[submodule "gui-common"]
	path = gui-common
	url = https://github.com/QubesOS/qubes-gui-common
[submodule "core-vchan-xen"]
	path = core-vchan-xen
	url = https://github.com/QubesOS/qubes-core-vchan-xen
