[Unit]
Description=blktapctrl daemon
Requires=proc-xen.mount
After=proc-xen.mount
RefuseManualStop=true
ConditionPathExists=/proc/xen

[Service]
Type=forking
Environment=BLKTAPCTRL_ARGS=
EnvironmentFile=-/etc/sysconfig/blktapctrl
ExecStartPre=/bin/grep -q control_d /proc/xen/capabilities
ExecStart=/usr/sbin/blktapctrl $BLKTAPCTRL_ARGS

[Install]
WantedBy=multi-user.target
