[Unit]
Description=Xend - interface between hypervisor and some applications
Requires=proc-xen.mount
After=proc-xen.mount
Before=libvirtd.service libvirt-guests.service
ConditionPathExists=/proc/xen

[Service]
Type=forking
PIDFile=/var/run/xend.pid
Environment=HOME=/root
ExecStartPre=/bin/grep -q control_d /proc/xen/capabilities
ExecStart=/usr/sbin/xend

[Install]
WantedBy=multi-user.target
